.skills {
  width: 100%;
  overflow: hidden;
  padding: 5rem 0 200px 0;
}

.skills__track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: scrollSkills 25s linear infinite;
}

.skills__item {
  padding: 1rem 2rem;
  background: #ffffff10;
  border: 1px solid #50bfffaa;
  border-radius: 12px;
  font-size: 1rem;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.skills__item:hover {
  transform: scale(1.1);
  transition: ease-in 0.3s;
  background-color: rgba(225, 143, 255, 0.577);
}

@keyframes scrollSkills {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
